---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AskProtocol from '../components/AskProtocol.astro';
import Features from '../components/Features.astro';
import Symbiogenesis from '../components/Symbiogenesis.astro';
import Emergence from '../components/Emergence.astro';
import Spreading from '../components/Spreading.astro';
import Architecture from '../components/Architecture.astro';
import Lineage from '../components/Lineage.astro';
import QuickStart from '../components/QuickStart.astro';
import Downloads from '../components/Downloads.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Abject - An {abject} Horror">
  <Header />
  <main>
    <Hero />
    <AskProtocol />
    <Symbiogenesis />
    <Features />
    <Emergence />
    <Spreading />
    <Lineage />
    <Architecture />
    <QuickStart />
    <Downloads />
  </main>
  <Footer />
</Layout>
